<html>

<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        div#app {
            padding: 30px;
            margin: 30px auto;
            width: 400px;
            border: 1px solid #ccc;
            box-shadow: 3px 3px 3px #aaa;
        }

        div#app div {
            margin-bottom: 20px;
        }

        label {
            display: block;
        }

        input[type=text] {
            padding: 4px;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>합계</h1>
        <div> <label>from</label> <input type="text" v-model="from" /> </div>
        <div> <label>to</label> <input type="text" v-model="to" /> </div>
        <hr />
        <div> {{ Number(total()) }} </div>
    </div>
    <script type="text/javascript">
        let app = {
            data() {
                return {
                    from: 0, to: 0
                };
            },
            methods: {
                total() {
                    if (this.from > this.to) return 0;
                    else {
                        let result = 0; 
                        for (let i = Number(this.from); i <= this.to; i++) 
                            result += i;
                        return result;
                    }
                }
            }
        };
        Vue.createApp(app).mount("#app"); 
    </script>
</body>

</html>